

<!-- User container user info -->
<div class="userInfo">
    <div>
        <img src="<%=user.profileImg %>" alt="" class="userImg">
    </div>
    <div>
        <h1 class="SWfont" nam><%=user.userName %></h1>
        <br>
        <h2><%=user.firstName %></h2>
        <h2><%=user.lastName %>:</h2>
        
    </div>
   
    <p> <%=user.gender %></p>
    <div class="watch-btn-div">
        <a href="/profile/login/watchlist"><button class="watch-btn">Watch/Play List</button></a>
        <br>
        <form action="/profile/logout?_method=DELETE" method="POST">
            <button type="submit" class="logout-btn">Log Out</button>
        </form>
 
    </div>
</div>





<!-- Add movie tv-show or game FORMS -->
<div class="fav-movie-form">

    <div class="item container-sm" >
        <form action="/profile/login/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Movie</span>
                <select type="text" class="form-control" name="favMovieList" aria-describedby="addon-wrapping">
                    <option class="form-control" value="62afe1939b9d6e378b5bff73">The Phantom Menace</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff74">Attack of the Clones</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff75">Revenge Of The Sith</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff76">A New Hope</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff77">he Empire Strikes Back</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff78">Return Of The Jedi</option>
                </select>
           
            </div>
            <br>
         
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
    




    <div class="item container-sm" >
        <form action="/profile/login/tvshow/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Tv-Show</span>
                <!-- <input type="text" class="form-control" name="favTvshowList" placeholder="Tv-Show ID" aria-describedby="addon-wrapping"> -->
                <select type="text" class="form-control" name="favTvshowList" aria-describedby="addon-wrapping">
                    <option class="form-control" value="62afe1939b9d6e378b5bff7a">Clone Wars</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff7b">The Mandalorian</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff7c">The Book Of Boba Fett</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff7d">The Bad Batch</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff7e">Obi-Wan Kenobi</option>
                </select>
            </div>
            <br>
   
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>

    <div class="item container-sm" >
        <form action="/profile/login/game/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Game</span>
                <!-- <input type="text" class="form-control" name="favGameList" placeholder="Game ID" aria-label="Username" aria-describedby="addon-wrapping"> -->
                <select type="text" class="form-control" name="favGameList" aria-describedby="addon-wrapping">
                    <option class="form-control" value="62afe1939b9d6e378b5bff80">The Phantom Menace</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff81">The Force Unleashed</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff82">Battlefront II (2005 video game)</option>
                    <option class="form-control" value="62afe1939b9d6e378b5bff83">Republic Commando</option>
                </select>
            </div>
            <br>
     
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>




<!-- Favorites -->
<div class="container">
    
    <!-- Movies -->
    <% for(let i=0; i < user.favMovieList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/movies/<%=user.favMovieList[i]._id %>/movie'>
                <h1><%=user.favMovieList[i].title %></h1>
            </a>
            <img src="<%=user.favMovieList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <br>
            <form action="/profile/login/<%=user.favMovieList[i]._id %>/moviedel/?_method=put" method="POST" class="d-inline">
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>       
    
    <!-- Tv-shows -->
    <% for(let i=0; i < user.favTvshowList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/tv-shows/<%=user.favTvshowList[i]._id %>/tvshow'>
                <h1><%=user.favTvshowList[i].title %></h1>
            </a>
            <img src="<%=user.favTvshowList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <br>
            <form action="/profile/login/<%=user.favTvshowList[i]._id %>/tvshowdel/?_method=put" method="POST" class="d-inline">
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>  

    <!-- Games -->
    <%for(let i=0; i < user.favGameList.length; i++){ %>
        <%if(user.favGameList[i]._id) { %>
            <div class="item container-sm" >
                <a href='/games/<%=user.favGameList[i]._id %>/game'>
                    <h1><%=user.favGameList[i].title %></h1>
                </a>
                <img src="<%=user.favGameList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
                <br>
                <form action="/profile/login/<%=user.favGameList[i]._id %>/gamedel/?_method=put" method="POST" class="d-inline">
                    <input type="submit" value="Delete" name="delete" class="btn btn-danger">
                </form>
            </div>
        <% } %>
    <% } %> 

</div>





