

<!-- User container user info -->
<div class="userInfo">
    <div>
        <img src="<%=user.profileImg %>" alt="" class="userImg">
    </div>
    <div>
        <h1 class="SWfont" nam><%=user.userName %></h1>
        <br>
        <h2><%=user.firstName %></h2>
        <h2><%=user.lastName %>:</h2>
        
    </div>
   
    <p> <%=user.gender %></p>
    <div class="watch-btn-div">
        <a href="/profile/login/watchlist"><button class="watch-btn">Watch/Play List</button></a>
        <br>
        <!-- <a href="#"><button class="watch-btn">Watched/Played List</button></a> -->
    </div>
</div>





<!-- Add movie tv-show or game FORMS -->
<div class="fav-movie-form">

    <div class="item container-sm" >
        <form action="/profile/login/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Movie</span>
                <!-- <input type="text" class="form-control" name="favMovieList" placeholder="Movie ID" aria-label="Username" aria-describedby="addon-wrapping"> -->
                <select type="text" class="form-control" name="favMovieList" aria-describedby="addon-wrapping">
                    <option class="form-control" value="626b55b8112a108453b77b07">The Phantom Menace</option>
                    <option class="form-control" value="626b55b8112a108453b77b08">Attack of the Clones</option>
                    <option class="form-control" value="626b55b8112a108453b77b09">Revenge Of The Sith</option>
                    <option class="form-control" value="626b55b8112a108453b77b0a">A New Hope</option>
                    <option class="form-control" value="626b55b8112a108453b77b0b">he Empire Strikes Back</option>
                    <option class="form-control" value="626b55b8112a108453b77b0c">Return Of The Jedi</option>
                </select>
           
            </div>
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
    




    <div class="item container-sm" >
        <form action="/profile/login/tvshow/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Tv-Show</span>
                <!-- <input type="text" class="form-control" name="favTvshowList" placeholder="Tv-Show ID" aria-describedby="addon-wrapping"> -->
                <select type="text" class="form-control" name="favTvshowList" aria-describedby="addon-wrapping">
                    <option class="form-control" value="626b55b8112a108453b77b0e">Clone Wars</option>
                    <option class="form-control" value="626b55b8112a108453b77b0f">The Mandalorian</option>
                    <option class="form-control" value="626b55b8112a108453b77b10">The Book Of Boba Fett</option>
                    <option class="form-control" value="626b55b8112a108453b77b11">The Bad Batch</option>
                </select>
            
            </div>
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>

    <div class="item container-sm" >
        <form action="/profile/login/game/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Game</span>
                <!-- <input type="text" class="form-control" name="favGameList" placeholder="Game ID" aria-label="Username" aria-describedby="addon-wrapping"> -->
                <select type="text" class="form-control" name="favGameList" aria-describedby="addon-wrapping">
                    <option class="form-control" value="626b55b8112a108453b77b13">The Phantom Menace</option>
                    <option class="form-control" value="626b55b8112a108453b77b14">The Force Unleashed</option>
                    <option class="form-control" value="626b55b8112a108453b77b15">Battlefront II (2005 video game)</option>
                    <option class="form-control" value="626b55b8112a108453b77b16">Republic Commando</option>
                </select>
            </div>
            
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>




<!-- Favorites -->
<div class="container">
    
    <!-- Movies -->
    <% for(let i=0; i < user.favMovieList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/movies/<%=user.favMovieList[i]._id %>/movie'>
                <h1><%=user.favMovieList[i].title %></h1>
            </a>
            <img src="<%=user.favMovieList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <form action="/profile/login/<%=user.favMovieList[i]._id %>/moviedel/?_method=put" method="POST" class="d-inline">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>       
    
    <!-- Tv-shows -->
    <% for(let i=0; i < user.favTvshowList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/tv-shows/<%=user.favTvshowList[i]._id %>/tvshow'>
                <h1><%=user.favTvshowList[i].title %></h1>
            </a>
            <img src="<%=user.favTvshowList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <form action="/profile/login/<%=user.favTvshowList[i]._id %>/tvshowdel/?_method=put" method="POST" class="d-inline">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>  

    <!-- Games -->
    <% for(let i=0; i < user.favGameList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/games/<%=user.favGameList[i]._id %>/game'>
                <h1><%=user.favGameList[i].title %></h1>
            </a>
            <img src="<%=user.favGameList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <form action="/profile/login/<%=user.favGameList[i]._id %>/gamedel/?_method=put" method="POST" class="d-inline">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>  

</div>





