
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

<h1>Welcome</h1>

<div class="container">

        <div class="item container-sm" >
            <h1><%=movie.title %></h1>
            
            <img src="<%=movie.img %>" alt="" class=" img-fluid img-thumbnail ">
            
        </div>
        <div>
            <a href="<%=movie.links.buy %>">BUY HERE</a>
            <br>
            <a href="<%=movie.links.trailer %>">View Trailer</a>
        </div>
        <br>

</div>
<br>
<div >
    <!-- <div>
        <label for="comments">Comment on this movie</label>
        <textarea name="comments" id="comments" rows="3" cols="40">Enter comment here</textarea>
    </div> -->
    <form action="/movies/<%=movie._id %>/movie/?_method=put" method="POST">
        <div class="mb-3 item">
            <label for="comments" class="form-label">Comment on this Movie</label>
            <textarea class="form-control" name="comments" id="comments" rows="3">Enter comment here</textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
        <!-- <a href="#homepage" class="btn btn-secondary">Cancel</a> -->
    </form>

    <div>
        <% for(let i=0; i < movie.comments.length; i++){ %>
            <div>
                <h3><%=movie.comments[i] %></h3>
                <form action="/movies/<%=movie._id %>/movie/<%=movie.comments[i] %>/?_method=put" method="POST" class="d-inline">
                    <input type="submit" value="Delete" name="delete" class="btn btn-danger" />
                </form>
            </div>
        <% } %> 
    </div>
</div>





