


<h1>Tv-Show</h1>

<div class="singleContainer">

        <div class="item container-sm" >
            <h1><%=tvShow.title %></h1>
            
            <img src="<%=tvShow.img %>" alt="" class="img-fluid img-thumbnail ">
        </div>

        <div class="infoDiv">
            <a href="<%=tvShow.links.buy %>" target="_blank"><button class="btn-primary">BUY HERE</button></a>
            <br>
            
            <p>this is some info about the movie</p>
            <br>

            <a href="<%=tvShow.links.trailer %>" target="_blank"><button class="btn-primary">TRAILER</button></a>
            <br>

            <h2><a href="/tv-shows/<%=tvShow._id %>/tvshow/liked"><button class="btn-success">Like</button></a> : <%=tvShow.likes %></h2>
            <br>

            <form action="/tv-shows/<%=tvShow._id %>/tvshow/watchlist/?_method=put" method="POST">
                <input type="submit" class="btn-primary" value="Add to watchlist" />
            </form>

        </div>

        <br>

</div>


<br>
<iframe width="840" height="630" style="margin-left: 20vw; margin-right: 20vw;"
src="<%=tvShow.links.emTrailer %>">
</iframe>
<br><br>


<div class="commentContainer">

    <form action="/tv-shows/<%=tvShow._id %>/tvshow/?_method=put" method="POST">
        <div class="comment-section item">
            <label for="comments" class="form-label">Comment on this Tv-Show</label>
            <textarea class="" name="comments" id="comments" placeholder="Enter comment here" rows="3"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
        <!-- <a href="#homepage" class="btn btn-secondary">Cancel</a> -->
    </form>

    <div>
        <% for(let i=0; i < tvShow.comments.length; i++){ %>
            <div class="comment-section item">
                    <h3><%=tvShow.comments[i] %></h3>
                    <form action="/tv-shows/<%=tvShow._id %>/tvshow/<%=tvShow.comments[i] %>/?_method=put" method="POST" class="d-inline">
                        <input type="submit" value="Delete" name="delete" class="btn btn-danger" />
                    </form>
            </div>
        <% } %>     
    </div>

</div>