

<h1>Game</h1>

<div class="singleContainer">

        <div class="item container-sm" >
            <h1><%=game.title %></h1>
            
            <img src="<%=game.img %>" alt="" class=" img-fluid img-thumbnail ">
        </div>

        <div class="infoDiv">
            <a href="<%=game.links.buy %>" target="_blank"><button class="btn-primary">BUY HERE</button></a>
            <br>
            <p>this is info about the game</p>
            <br>
            <a href="<%=game.links.trailer %>" target="_blank"><button class="btn-primary">TRAILER</button></a>
            <br>
            <h2><a href="/games/<%=game._id %>/game/liked"><button class="btn-success">Like</button></a> : <%=game.likes %></h2>
            <br>
            <form action="/games/<%=game._id %>/game/watchlist/?_method=put" method="POST">
                <input type="submit" class="btn-primary" value="Add to watchlist" />
            </form>
        
        </div>

        <br>
</div>



<br>
<iframe width="840" height="630" style="margin-left: 20vw; margin-right: 20vw;"
src="<%=game.links.emTrailer %>">
</iframe>
<br><br>



<div class="commentContainer">
    <form action="/games/<%=game._id %>/game/?_method=put" method="POST">
        <div class="comment-section item">
            <label for="comments" class="form-label">Comment on this Game</label>
            <textarea class="" name="comments" id="comments" placeholder="Enter comment here" rows="3"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>

    <div>
        <% for(let i=0; i < game.comments.length; i++){ %>
            <div class="comment-section item">
                    <h3><%=game.comments[i] %></h3>
                    <form action="/games/<%=game._id %>/game/<%=game.comments[i] %>/?_method=put" method="POST" class="d-inline">
                        <input type="submit" value="Delete" name="delete" class="btn btn-danger" />
                    </form>
            </div>
        <% } %>     
    </div>
</div>