

<!-- User container user info -->
<div class="userInfo">
    <div>
        <img src="<%=user.profileImg %>" alt="" class="userImg img-fluid">
    </div>
    <div>
        <h1 class="SWfont" nam><%=user.userName %></h1>
        <br>
        <h2><%=user.firstName %></h2>
        <h2><%=user.lastName %>:</h2>
        
    </div>
   
    <p> <%=user.gender %></p>
    <div class="watch-btn-div">
        <a href="/profile/login/watchlist"><button class="watch-btn">Watch List</button></a>
        <br>
        <a href="#"><button class="watch-btn">Watched List</button></a>
    </div>
</div>





<!-- Add movie tv-show or game FORMS -->
<div class="fav-movie-form">

    <div class="item container-sm" >
        <form action="/profile/login/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Movie</span>
                <input type="text" class="form-control" name="favMovieList" placeholder="Movie ID" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
    
    <div class="item container-sm" >
        <form action="/profile/login/tvshow/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Tv-Show</span>
                <input type="text" class="form-control" name="favTvshowList" placeholder="Tv-Show ID" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>

    <div class="item container-sm" >
        <form action="/profile/login/game/?_method=put" method="POST">
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">Game</span>
                <input type="text" class="form-control" name="favGameList" placeholder="Game ID" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="input-group flex-nowrap">
                <!-- could put username input -->
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>




<!-- Favorites -->
<div class="container">
    
    <!-- Movies -->
    <% for(let i=0; i < user.favMovieList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/movies/<%=user.favMovieList[i]._id %>/movie'>
                <h1><%=user.favMovieList[i].title %></h1>
            </a>
            <img src="<%=user.favMovieList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <form action="/profile/login/<%=user.favMovieList[i]._id %>/moviedel/?_method=put" method="POST" class="d-inline">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>       
    
    <!-- Tv-shows -->
    <% for(let i=0; i < user.favTvshowList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/tv-shows/<%=user.favTvshowList[i]._id %>/tvshow'>
                <h1><%=user.favTvshowList[i].title %></h1>
            </a>
            <img src="<%=user.favTvshowList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <form action="/profile/login/<%=user.favTvshowList[i]._id %>/tvshowdel/?_method=put" method="POST" class="d-inline">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>  

    <!-- Games -->
    <% for(let i=0; i < user.favGameList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/games/<%=user.favGameList[i]._id %>/game'>
                <h1><%=user.favGameList[i].title %></h1>
            </a>
            <img src="<%=user.favGameList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            <form action="/profile/login/<%=user.favGameList[i]._id %>/gamedel/?_method=put" method="POST" class="d-inline">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>
        </div>
    <% } %>  

</div>





