
<h2 class="SWfont"><%=user.userName %> Watch List</h2>
<div class="container">

    <% for(let i=0; i <user.watchList.length; i++){ %>
        <div class="item container-sm" >
            <a href='/movies/<%=user.watchList[i]._id %>/movie'>
                <h1><%=user.watchList[i].title %></h1>
            </a>
            <img src="<%=user.watchList[i].img %>" alt="" class=" img-fluid img-thumbnail ">
            
            <form action="/profile/login/<%=user.watchList[i]._id %>/watchlist/moviedel/?_method=put" method="POST" class="d-inline">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input type="text" class="form-control" name="userName" placeholder="Your username" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <input type="submit" value="Delete" name="delete" class="btn btn-danger">
            </form>

        </div>
    <% } %>     

</div>