

<h1>Game</h1>

<div class="container">

        <div class="item container-sm" >
            <h1><%=game.title %></h1>
            
            <img src="<%=game.img %>" alt="" class=" img-fluid img-thumbnail ">
        </div>

        <div>
            <a href="<%=game.links.buy %>" target="_blank">BUY HERE</a>
            <br>
            <a href="<%=game.links.trailer %>" target="_blank">View Trailer: no link yet</a>
        </div>

        <br>
</div>
<br>
<div>
    <form action="/games/<%=game._id %>/game/?_method=put" method="POST">
        <div class="mb-3 item">
            <label for="comments" class="form-label">Comment on this Game</label>
            <textarea class="form-control" name="comments" id="comments" rows="3">Enter comment here</textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>

    <div>
        <% for(let i=0; i < game.comments.length; i++){ %>
            <div>
                    <h3><%=game.comments[i] %></h3>
                    <form action="/games/<%=game._id %>/game/<%=game.comments[i] %>/?_method=put" method="POST" class="d-inline">
                        <input type="submit" value="Delete" name="delete" class="btn btn-danger" />
                    </form>
            </div>
        <% } %>     
    </div>
</div>