


<h1>Tv-Show</h1>

<div class="container">

        <div class="item container-sm" >
            <h1><%=tvShow.title %></h1>
            
            <img src="<%=tvShow.img %>" alt="" class=" img-fluid img-thumbnail ">
        </div>

        <div>
            <a href="<%=tvShow.links.buy %>">BUY HERE: no link yet</a>
            <br>
            <a href="<%=tvShow.links.trailer %>">View Trailer: no link yet</a>
        </div>

        <br>

</div>

<br>

<div>

    <form action="/tv-shows/<%=tvShow._id %>/tvshow/?_method=put" method="POST">
        <div class="mb-3 item">
            <label for="comments" class="form-label">Comment on this Tv-Show</label>
            <textarea class="form-control" name="comments" id="comments" rows="3">Enter comment here</textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
        <!-- <a href="#homepage" class="btn btn-secondary">Cancel</a> -->
    </form>

    <div>
        <% for(let i=0; i < tvShow.comments.length; i++){ %>
            <div>
                    <h3><%=tvShow.comments[i] %></h3>
                    <form action="/tv-shows/<%=tvShow._id %>/tvshow/<%=tvShow.comments[i] %>/?_method=put" method="POST" class="d-inline">
                        <input type="submit" value="Delete" name="delete" class="btn btn-danger" />
                    </form>
            </div>
        <% } %>     
    </div>

</div>